<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091903247025-ojkrhl37h8gepiq14ff1vue167c748ki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091903247025-ojkrhl37h8gepiq14ff1vue167c748ki</string>
	<key>API_KEY</key>
	<string>AIzaSyBU83Pk3FiwT7_qLzw4cs0-O_kTWRJn9is</string>
	<key>GCM_SENDER_ID</key>
	<string>1091903247025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suixing.walkWithGod.dev</string>
	<key>PROJECT_ID</key>
	<string>walkwithgod-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>walkwithgod-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091903247025:ios:7ec4883b24247912548890</string>
</dict>
</plist>